:root {
    --background: rgb(6, 18, 28);
    --whiteKey: rgb(49, 49, 49);
    --blackKey: rgb(37, 37, 37);
    --whiteNote: green;
    --blackNote: darkgreen;
    --header: cornflowerblue;
}

body {
    color: white;
    background: var(--background);
    font-family: arial;
}

header {
    background: var(--header);
    height: 50px;
    display: flex;
    gap: 20px;
}

td {
    width: 12px;
}

#gridContainer {
    display: flex;
}

#grid {
    margin-left: 5%;
    margin-right: 1%;
    bottom: 0;
    position: absolute;
}

.white {
    background: var(--whiteKey);
}

.black {
    background: var(--blackKey);
}

.note {}

.hide {
    display: none;
}

.markerBody {}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20px, -17px);
}

.beatTick {
    position: relative;
    border-bottom: .5px solid grey;
}

.measureTick {
    position: relative;
    border-bottom: .5px solid white;
}

.hover {
    background: lightgreen;
}

/* .off {
    background: transparent;
    border-bottom: none;
    color: transparent;
} */

[data-parent].white {
    background: linear-gradient(to right, var(--whiteKey) 10%, var(--whiteNote) 10%, var(--whiteNote) 90%, var(--whiteKey) 90%);
}

[data-parent].black {
    background: linear-gradient(to right, var(--blackKey) 25%, var(--blackNote) 25%, var(--blackNote) 75%, var(--blackKey) 75%);
}

.selected.white {
    background: linear-gradient(to right, var(--whiteKey) 10%, var(--header) 10%, var(--header) 90%, var(--whiteKey) 90%);
}

.selected.black {
    background: linear-gradient(to right, var(--blackKey) 25%, var(--header) 25%, var(--header) 75%, var(--blackKey) 75%);
}

.noteHit {
    background: white !important;
}

#playPause {
    margin: auto auto auto 0;
}

#reset {
    margin: auto 0 auto auto;

}

.custom-button {
    color: black;
    background: white;
    text-align: center;
    padding: 5px;
    width: 60px;
}

.custom-button:hover {
    background: gray;
    color: white;
}

.custom-button:active {
    background: black;
    width: 50px;
}