.note {
    cursor: pointer;
}

.w {
    background: var(--wGrid);
}

.b {
    background: var(--bGrid);
}

.note.w {
    background: var(--wNote);
}

.note.b {
    background: var(--bNote);
}

.hover {
    background: lightgreen !important;
}

.selected.w {
    background: var(--header);
}

.selected.b {
    background: var(--header);
}

.note.hover{
    background: green !important;
}

.selected.hover {
    background: blue !important;
}

/* Debug */
/* .active {
    background: red !important;
} */

.beatTick {
    position: relative;
    box-shadow: 0 1px 0 grey;
}

.measureTick {
    position: relative;
    box-shadow: 0 1px 0 white;
}

.off {
    background: transparent;
    border-bottom: none;
    box-shadow: none;
    color: transparent;
}

.marker {
    position: absolute;
    transform: translate(-20px, -9px);
}

.markerContainer {
    box-shadow: 0 1px 0 white;
}