.note {
    cursor: pointer;
}

.w {
    background: var(--wKey);
}

.b {
    background: var(--bKey);
}

.hover {
    background: lightgreen !important;
}

[data-parent].w,
.wNote {
    background: var(--wNote);
}

[data-parent].b,
.bNote {
    background: var(--bNote);
}

.selected.w {
    background: var(--header);
}

.selected.b {
    background: var(--header);
}

.selected.hover {
    background: blue !important;
}

.beatTick {
    position: relative;
    box-shadow: 0 1px 0 grey;
}

.measureTick {
    position: relative;
    box-shadow: 0 1px 0 white;
}

.off {
    background: transparent;
    border-bottom: none;
    box-shadow: none;
    color: transparent;
}

.marker {
    position: absolute;
    transform: translate(-20px, -9px);
}

.markerContainer {
    box-shadow: 0 1px 0 white;
}