header {
    background: var(--header);
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

#titles {
    display: flex;
    gap: 10px;
    position: relative;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#opti-midi {
    font-weight: bold;
    font-size: 25px;
}

#michael-pyrdol {
    font-size: 13px;
}

#controls {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    justify-content: center;
    margin-left: 43%;
    height:50px;
}

.custom-button {
    color: black;
    background: white;
    text-align: center;
    padding: 5px;
    position: relative;
    transition: transform 0.1s ease;
    overflow: hidden;
}

.custom-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.custom-button,
input[type="text"] {
    border: 2px solid black;
    border-radius: 10%;
}

.square {
    width: 20px;
    height: 20px;
}

.custom-button:active,
.pressed {
    transform: scale(0.95);
}

.custom-button img {
    position: relative;
    object-fit: cover;
}

#restart img {
    bottom: 1.5px;
    width: 22px;
    right: 1px;
}

#play img {
    width: 15px;
    bottom: 5px;
}

#reset img {
    bottom: 4.5px;
    width: 15px;
}

#repeat {
    width: 10px;
}

.pressed {
    background: var(--wNote);
}

#repeat img {
    width: 20px;
    right: 5.5px;
}

input[type="text"] {
    width: 40px;
}

#tempoBox {
    font-size: 20px;
    text-align: center;
}
#tempoDiv{
    flex-direction: column;
    align-items: center;
    width:130px;
}
#tempoDiv p{
    margin:0;
}
#tempoSlider{
    margin:0;
}

#defaultNoteDuration{
    height:25px;
    padding:0;
}