.w.topKey {
    background: white;
}

.b.topKey {
    background: black;
}

.wKeyPlay {
    background: var(--wKeyPlay) !important;
}

.bKeyPlay {
    background: var(--bKeyPlay) !important;
}

#piano {
    background: white;
    border-top: 1px solid black;
}

.cPlay {
    background: linear-gradient(to right, var(--wKeyPlay) 0%, var(--wKeyPlay) 65%, transparent 65%, transparent 100%) !important;
}

.dPlay1 {
    background: linear-gradient(to right, transparent 0%, transparent 65%, var(--wKeyPlay) 65%, var(--wKeyPlay) 100%) !important;
}

.dPlay2 {
    background: linear-gradient(to right, var(--wKeyPlay) 0%, var(--wKeyPlay) 35%, transparent 35%, transparent 100%) !important;
}

.ePlay {
    background: linear-gradient(to right, transparent 0%, transparent 35%, var(--wKeyPlay) 35%, var(--wKeyPlay) 100%) !important;
}

.fPlay {
    background: linear-gradient(to right, var(--wKeyPlay) 0%, var(--wKeyPlay) 70%, transparent 70%, transparent 100%) !important;
}

.gPlay1 {
    background: linear-gradient(to right, transparent 0%, transparent 70%, var(--wKeyPlay) 70%, var(--wKeyPlay) 100%) !important;
}

.gPlay2 {
    background: linear-gradient(to right, var(--wKeyPlay) 0%, var(--wKeyPlay) 50%, transparent 50%, transparent 100%) !important;
}

.aPlay1 {
    background: linear-gradient(to right, transparent 0%, transparent 50%, var(--wKeyPlay) 50%, var(--wKeyPlay) 100%) !important;
}

.aPlay2 {
    background: linear-gradient(to right, var(--wKeyPlay) 0%, var(--wKeyPlay) 30%, transparent 30%, transparent 100%) !important;
}

.bPlay {
    background: linear-gradient(to right, transparent 0%, transparent 30%, var(--wKeyPlay) 30%, var(--wKeyPlay) 100%) !important;
}

.topKey {
    height: 80px !important;
}

.bottomKey {
    background: white;
    height: 40px !important;
    position: relative;
}

.b.bottomKey::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: black !important;
    transform: translateX(-50%);
}

.wLeft {
    border-right: 1px solid black;
}

.bFlat::before {
    left: 30% !important;
}

.cSharp::before {
    left: 65% !important;
}

.dSharp::before {
    left: 35% !important;
}

.fSharp::before {
    left: 70% !important;
}