.white {
    background: var(--whiteKey);
}

.black {
    background: var(--blackKey);
}

.hover {
    background: lightgreen;
}

[data-parent].white {
    background: linear-gradient(to right, var(--whiteKey) 10%, var(--whiteNote) 10%, var(--whiteNote) 90%, var(--whiteKey) 90%);
}

[data-parent].black {
    background: linear-gradient(to right, var(--blackKey) 10%, var(--blackNote) 10%, var(--blackNote) 90%, var(--blackKey) 90%);
}

.selected.white {
    background: linear-gradient(to right, var(--whiteKey) 10%, var(--header) 10%, var(--header) 90%, var(--whiteKey) 90%);
}

.selected.black {
    background: linear-gradient(to right, var(--blackKey) 10%, var(--header) 10%, var(--header) 90%, var(--blackKey) 90%);
}

.note.noteHit {
    background: white !important;
}

.beatTick {
    position: relative;
    box-shadow: 0 1px 0 grey;
}

.measureTick {
    position: relative;
    box-shadow: 0 1px 0 white;
}

.off {
    background: transparent;
    border-bottom: none;
    box-shadow: none;
    color: transparent;
}

.marker {
    position: absolute;
    transform: translate(-20px, -9px);
}
.markerContainer{
    box-shadow: 0 1px 0 white;
}