:root {
    --background: rgb(6, 18, 28);
    --whiteKey: rgb(49, 49, 49);
    --blackKey: rgb(37, 37, 37);
    --whiteNote: limegreen;
    --blackNote: darkgreen;
    --whiteKeyPlay: limegreen;
    --blackKeyPlay: darkgreen;
    --header: cornflowerblue;
}

body {
    color: white;
    background: var(--background);
    font-family: arial;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

header {
    background: var(--header);
    height: 50px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

#titles {
    display: flex;
    gap: 10px;
    position: relative;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#opti-midi {
    font-weight: bold;
    font-size: 25px;
}

#michael-pyrdol {
    font-size: 13px;
}

#controls {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    justify-content: center;
    margin-left: 43%;
}

.custom-button {
    color: black;
    background: white;
    text-align: center;
    padding: 5px;
    position: relative;
    transition: transform 0.1s ease;
    overflow: hidden;
}

.custom-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.custom-button,
input[type="text"] {
    border: 2px solid black;
    border-radius: 10%;
}

.square {
    width: 20px;
    height: 20px;
}

.custom-button:active,
.pressed {
    transform: scale(0.95);
}

.custom-button img {
    position: relative;
    object-fit: cover;
}

#restart img {
    bottom: 1.5px;
    width: 22px;
    right: 1px;
}

#play img {
    width: 15px;
    bottom: 5px;
}

#reset img {
    bottom: 4.5px;
    width: 15px;
}

#repeat {
    width: 10px;
}
.pressed{
    background: var(--whiteNote);
}

#repeat img {
    width: 20px;
    right: 5.5px;
}

input[type="text"] {
    width: 40px;
}

#tempoBox {
    font-size: 20px;
    text-align: center;
}

#gridContainer {
    display: flex;
}

#grid,
#piano {
    margin-left: 2%;
    bottom: 0;
    position: relative;
    width: 98%;
}

td {
    width: 1%;
}

#custom-context-menu {
    position: absolute;
    display: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    border:2px solid black;
}

#custom-context-menu .menu-row {
    display: flex;
    flex-wrap: wrap;
}

#custom-context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
}

#custom-context-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

#custom-context-menu li:hover {
    background-color: #f0f0f5;
}

#custom-context-menu hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 4px 0;
}