:root {
    --background: rgb(6, 18, 28);
    --wGrid: rgb(49, 49, 49);
    --bGrid: rgb(37, 37, 37);
    --wNote: limegreen;
    --bNote: darkgreen;
    --wKeyPlay: limegreen;
    --bKeyPlay: darkgreen;
    --header: cornflowerblue;
    --row: .3px;
}

body {
    color: white;
    background: var(--background);
    font-family: arial;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

#grid,
#piano {
    margin-left: 2%;
    bottom: 0;
    position: relative;
    width: 98%;
}

td {
    width: 1%;
}

#grid td,
#gridPreview td {
    height: var(--row)
}

#custom-context-menu {
    position: absolute;
    display: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    border: 2px solid black;
}

#custom-context-menu .menu-row {
    display: flex;
    flex-wrap: wrap;
}

#custom-context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* width: 50%; */
}

#custom-context-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

#custom-context-menu li:hover {
    background-color: #f0f0f5;
}

#custom-context-menu hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 4px 0;
}

::-webkit-scrollbar {
    width: 12px;
    /* Width of the entire scrollbar */
    height: 12px;
    /* Height of the entire scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
    background: var(--background);
    /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--bKey);
    /* Color of the scrollbar handle */
    border-radius: 10px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--wGrid);
    /* Color of the scrollbar handle on hover */
}