#titleScreen {
    text-align: center;
    display: flex;
    margin-top: 140px;
    align-items: center;
    justify-content: center;
}

#intro {
    width: 40%;
    height: 200px;
    margin-left: 50px;
}

#tables {
    margin-right: 30%;
}

#titleControls,
#loadTable {
    background-color: var(--header);
    border-radius: 5px;
}
#titleControls{
    margin-top: 50px;
}
#loadTable{
    margin-top:20px;
}

#titleControls td:first-child {
    width: 20px;
    text-align: right;
}

#titleControls td:last-child {
    width: 20px;
    text-align: left;
}

#titleControls input[type="text"] {
    width: 50%;
    text-align: center;
    font-size:15px;
}

#titleControls input[type="range"] {
    display: block;
    margin: 0 auto;
    width: 90%;
}

#gridPreview td,
#pianoPreview td {
    width: .1%;
}

#preview {
    width: 15%;
    position: absolute;
    margin-right: 15%;
    right: 0;
    top: 0;
    margin-top:59px;
}

h1 {
    font-size: 50px;
}

#generate {
    margin: auto 78px;
    font-size: 20px;
}